*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: pink; /* o il colore che vuoi */
  height: 100%;
  background-size: contain;
}

#castello_di_alice_logo {
  width: 30%;
  height: 30%;
  margin-left: 15%;
  transition: transform 0.2s;
}

#castello_di_alice_logo:hover {
  transform: scale(1.2);
}

#facebook-button {
  background: rgb(49, 49, 165);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px; /* spazio tra icona e testo */
}

#facebook-button:hover {
  background: rgb(81, 192, 228);
}

.navbar {
  padding: 1vh;
  height: 15vh;
  background-color: pink;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

.navbar img {
  height: 100%;
}

.image {
  background-color: white;
  margin-top: 2vh;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.arrow-btn {
  margin: 0px 4vw;
  text-align: center;
  background-color: white;
  border: 0px;
  padding: 0px 2vw;
}

.arrow-btn:hover {
  background-color: rgb(250, 246, 246);
}

#mainImage {
  transition: opacity 0.5s ease; /* animazione su opacità */
  opacity: 1;
}

#mainImage.fade-out {
  opacity: 0;
}

.social-btn {
  width: 3vw;
  height: 5vh;
  border: 1px solid black;
  border-radius: 1rem;
  transition: transform 0.2s;
  display: inline-block;
  background-color: white;
  padding: 1%;
}

/* Dimensioni diverse per schermi piccoli */
@media (max-width: 600px) {
  .social-btn {
    width: 5vw;
    height: 4vh;
  }
}

.social-btn:hover {
  transform: scale(1.2);
  background-color: rgb(230, 202, 207);
}

.evidenziato {
  font-weight: 700;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}
.text-orange {
  color: orange;
}
.text-blue {
  color: blue;
}
