*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #e9d8a6;
  height: 100%;
}

#logo-pic {
  height: 90%;
  object-fit: contain; /* mantiene proporzioni */
  transition: all 0.3s; /* opzionale, per un effetto smooth */
}

.container-main-info {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 16vh;
  background-color: #94d2bd;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container-main-info p {
  width: 70%;
  padding: 3vw;
  font-family: "Fredoka", Verdana, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.7;
  text-align: justify;
  color: #222;
  border-radius: 20px;
  box-shadow: 4px 4px 10px gray;
  margin: 0;
  padding: 50px;
  background-color: #FFFF;
}

.container-social-link {
  margin: 0;
  padding-right: 1rem;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

#titolo {
  padding: 2rem;
  color: #ee9b00;
  font-weight: 900;
  font-size: 5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  text-shadow: 3px 2px 5px gray;
  transition: transform 0.2s;
  text-align: center;
}

#titolo:hover {
  transform: scale(1, 2);
}

.info-finali {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  padding: 5vh;
  height: 80vh;
}

.footer {
  height: 20vh;
  background-color: #fff9c4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 12vh;
  background-color: #e9d8a6;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid black;
}

.nav-links {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 30%;
  padding-left: 1rem;
}

.nav-links a,
#sidebar a,
.container-social-link a {
  text-decoration: none;
  text-transform: uppercase;
  color: #e9d8a6;
  font-size: 20px;
  font-weight: 900;
  font-family: "Fredoka", sans-serif;
}

.nav-links a:hover,
.container-social-link a:hover {
  color: #06d6a0;
  text-decoration: underline;
  text-decoration-color: #06d6a0;
}

.navbar ul {
  list-style: none;
  gap: 2rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100%;
}

.social-btn-container {
  height: 100%;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 15vh;
  background-image: linear-gradient(#fff9c4 100%);
}

.arrow-btn {
  margin: 0px;
  text-align: center;
  background-image: linear-gradient(#fff9c4 100%);
  border: 0px;
  padding: 0px 2vw;
  width: 10%;
}

.arrow-btn:hover {
  background-color: rgb(250, 246, 246);
}

#mainImage {
  max-height: 750px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px gray;
  transition: opacity 0.5s ease; /* animazione su opacità */
  opacity: 1;
}

#mainImage.fade-out {
  opacity: 0;
}

p {
  font-family: "Fredoka", Verdana, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.7;
}

h1 {
  font-family: "Fredoka", Verdana, sans-serif;
  padding-left: 30px;
}

.intro-castello {
  font-family: "Fredoka", Verdana, sans-serif; /* font rotondo, allegro */
  font-size: 2rem; /* grandezza importante */
  font-weight: 700; /* grassetto */
  color: #f77f00; /* arancione acceso simile al logo */
  text-align: center; /* centrato nella pagina */
  margin: 2rem 0; /* spazio sopra e sotto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* ombra leggera per leggibilità */
  letter-spacing: 1px; /* spaziatura leggermente più larga */
}

.fade-in {
  opacity: 0;
  transform: translateY(-20px); /* Parte leggermente più in alto */
  animation: fadeInMove 3s ease forwards;
  animation-delay: 1s;
}

@keyframes fadeInMove {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#dragon-pink {
  height: 100%;
}

.map-container {
  display: flex;
  justify-content: space-between;
  width: 100%; /* si adatta alla larghezza del contenitore */
  padding-bottom: 70.25%; /* rapporto 16:9 (altezza/larghezza) */
  overflow: hidden;
  background-color: white;
  background-color: #ee9b00;
  padding: 5vh 2rem;
  height: 50vh;
  gap: 20px;
}

.map-container p {
  width: 80%;
}

#hamburger-menu {
  display: none;
}

.btn-primary {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  height: 100%;
  width: 5rem;
}

.btn-primary i {
  font-size: 40px;
  color: #333;
}

#telephone {
  display: none;
  color: #06d6a0;
  text-shadow: 2px 2px 10px gray;
}

svg {
  display: block;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 20px;
  padding: 100px 70px;
  background-color: #005f73;
}
.gallery div {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.img1 {
  grid-area: 1 / 1 / 4 / 4;
  background-image: url("./unnamed.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.img2 {
  grid-area: 1 / 4 / 3 / 6;
  object-fit: cover;
  background-image: url("./unnamed.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.img3 {
  grid-area: 3 / 4 / 4 / 6;
  object-fit: cover;
  background-image: url("./unnamed.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.img4 {
  grid-area: 4 / 1 / 6 / 4;
  object-fit: cover;
  background-image: url("./unnamed.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.img5 {
  grid-area: 4 / 4 / 6 / 6;
  object-fit: cover;
  background-image: url("./unnamed.jpg");
}

.titolo-container {
  position: relative;
  top: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/img_castello_5.png);
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80vh;
  border-bottom-left-radius: 45vh;
  border-bottom-right-radius: 45vh;
  box-shadow: 2px 2px 5px gray;
  margin-bottom: 13vh;
}

.nav-links.active {
  display: flex; /* mostra i link */
  flex-direction: column; /* verticale su mobile */
}

#sidebar {
  position: fixed;
  z-index: 999;
  top: 70px;
  left: 0;
  height: 100%;
  width: 15rem;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  /* From https://css.glass */
  background: rgb(202, 103, 2, 0.9);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 243, 214, 0.3);
}

#sidebar ul {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0;
}

#sidebar li {
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  border-bottom: 2px solid black;
}

#sidebar li:hover {
  background-color: #ee9b00;
}

#sidebar.active {
  transform: translateX(0);
}

@media (max-width: 768px) {
  .navbar {
    border: none;
    height: 70px;
  }

  .titolo-container {
    top: 70px;
  }

  #titolo {
    font-size: 3rem;
    padding: 0 3rem;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .gallery p {
  }

  .gallery div {
    width: 100%;
    height: 300px;
  }

  .img4,
  .img5 {
    display: none;
  }

  .container-main-info p {
    width: 100%;
  }
  .container-main-info {
    padding: 150px 5px;
    padding-top: 40px;
  }

  #dragon-pink {
    display: none;
  }

  .nav-links {
    display: none;
  }

  .container-social-link {
    display: none;
  }

  #hamburger-menu {
    display: block;
  }

  #hamburger-menu i,
  #telephone i {
    color: #ca6702;
  }

  #telephone {
    display: block;
  }
}


